.homeTitle {
  display: flex;
  justify-content: center;
  margin: 10px;
}

#login {
  float: right;
  margin-right: 10px;
  text-decoration: none;
}

.login {
  text-decoration: none;
  color: white;
}

.signup {
  color: black;
  margin-left: 20px;
}

#login-container{
  height: 600px;
  width: 500px;
  margin-top:200px

}

#err{
  color: red;
}
.modal-title h4{
  text-align: center;
}

.modal-img {
  max-height: 800px;
  max-width: 1000px;
  width: auto;
}

.modal-body {
  display: flex;
  justify-content: center;
}

#add-btn {
  width: 50%;
  left: 10%
}

.modal-content {
  align-items: center;
}

.imageList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}